# Ambientes
.env
.venv/
.anac/
__pycache__/
*.pyc
*.pyo

# Dados gerados em runtime
data/raw/
data/warehouse/*.duckdb
data/warehouse/*.duckdb.wal
logs/

# dbt
transform/target/
transform/dbt_packages/
transform/logs/

# Prefect
.prefect/

# IDE
.vscode/
.idea/
.zed/
*.swp
